*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #9e8c8e15;
}

::-webkit-scrollbar-thumb{
    background-color: #8f8566;
    border-radius: 5px;
}

/* GENERAL */

.button {
    background-color: #6fa2cc;
    color: white;
    padding: 10px;
    text-decoration: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    transition: all 300ms;
    align-self: start;
    text-align: center;
}

form {
    gap: 10px;
    color: rgb(253, 253, 253);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form>input, form>textarea, form>select{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: all 300ms;
    outline: none;
}

form>textarea{
    resize: none;
}

form>input[type="submit"] {
    background-color: #6fa2cc;
    color: white;
    width: 90%;
    margin: 10px auto 0 auto;
    height: 40px;
}

form>input[type="submit"]:hover,
.button:hover {
    text-shadow: 0px 5px 4px #ffffff, 0px 1px 8px #69b9d3;
    font-size: 18px;
    background-color: #69b9d3;
    cursor: pointer;
}

form>input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

form>input[type="file"]:before {
    content: 'Choose file';
    padding: 10px;
    background: #6fa2cc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

/* CONTAINER */

#container{
    width: 100%;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.904);
    overflow: hidden;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto auto 1fr auto;
}

/* HEADER */

#header{
    display: flex;
    flex-direction: row;
    background-color: #ebd6a7;
    border-bottom: none;
    padding: 0 20%;
}

#logo img{
    transition: all 300ms;
}

#logo img:hover{
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

/* MENU */

#menu{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    padding: 20px;
}

#menu ul li a, #aside-container a{
    text-decoration: none;
    color: white;
    transition: all 300ms;
    font-size: 30px;
}

#menu ul li a:hover{
    text-shadow: 0px 5px 4px #5550504d;
    font-size: 31px;
}

#identity{
    margin: 0 auto;
}

.info-session{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
    background-color: #333333;
    color: white;
    border: 1px solid #333333;
}

.info-session #stats{
    display: flex;
}

.info-session #stats a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
    border-right: 1px solid #333333;
}

.info-session #stats a:first-child{
    background-color: #ffffff;
}

.info-session #stats a:nth-child(2){
    background-color: #69b1d3;
}

.info-session #stats a:last-child {
    background-color: #69d389;
}

/* MAIN */

#main-container{
    display: flex;
}

/* ASIDE */
#aside-menu-button{
    display: none;
}

#aside-container{
    margin: 20px 20px;
    justify-content: space-between;
}

#aside-block > .aside-block-container, #register-container, #manage-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;  
    display: flex;
    color: white;
    padding: 30px;
    border-radius: 5px;
}

.aside-block-container>a{
    text-decoration: none;
    color: white;
    transition: all 300ms;
    gap: 10px;
    padding: 10px;
}

.aside-block-container> .aside-menu{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

#aside-container a:hover{
    text-shadow: 0px 3px 4px #ffffff;
    font-size: 31px;
}

#aside-block>.welcome_user{
    width: 600px;
}

/* PRODUCTS*/

#product-container{
    margin: 20px auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 70%;
}

.product{
    background-color: #ffffffe6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 230px;
    gap: 50px;
    max-height: 400px;
}

.product h2{
    font-size: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.product p {
    font-size: 20px;
}

.buy{
    background-color: #6fa2cc;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: all 300ms;
    text-align: center;
}

.buy:hover{
    text-shadow: 0px 5px 4px #ffffff, 0px 1px 8px #69b9d3;
    font-size: 15px;
    background-color: #69b9d3;
}

.link-product{
    color: black;
}

.link-product_carshop{
    color: white;
}

.link-product, .link-product_carshop{
    text-decoration: none;
    transition: all 300ms;
}

.link-product:hover, .link-product_carshop:hover{
    text-decoration: underline;
    color: #69b9d3;
}

.product img{
    width: 100px;
    border-radius: 5px;
}

.details{
    min-width: 285px;
    max-width: 400px;
}

.product-details{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px auto;
}

.product-details h2{
    font-size: 30px;
    color: #6fa2cc;
}

.product-details img{
    width: 400px;
    border-radius: 5px;
}

.product-details .details{
    background-color: #ffffffe6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.product-details .details .buy{
    width: 100%;
    margin-top: auto;
}

/*CARSHOP STATS*/
#carshop-stats a{
    display: flex;
    align-self: flex-start;
    font-size: 20px;
}

#carshop-stats a:hover{
    font-size: 19px;
}

#carshop-buttons-actions{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#carshop-buttons-actions a{
    width: 200px;
}

.button-start-buy{
    margin: auto;
    width: 200px;
}

/* ORDER DETAILS */

.order-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

/* FOOTER */

footer{
    background-color: #333333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

/* REGISTER FORM */
#register-container{
    margin: 20px auto;
    min-width: 65%;
    display: flex;
    justify-content: start;
    height: fit-content;
}

#register-container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/* ALERTS */

.alert{
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

.alert_green{ background-color: #69d389; }
.alert_red{ background-color: #d37469; }



/* CATEGORIES */

#manage-container{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    width: 65%;
}

#manage-container form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0px;
}

#manage-container form input[type="text"], #manage-container form select{
    width: 90%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 45px;
}

#manage-container form input[type="submit"]{
    width: 10%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
    height: 45px;
}

#manage-container h1, #product-container h1{
    color: rgba(255, 255, 255, 0.938);
    margin: 0px auto;
}

#manage-container > #table-container{
    width: 100%;
}

#manage-container table{
    color: rgba(255, 255, 255, 0.938);
    background-color: #0000003a;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

#manage-container table th{
    padding: 5px;
}

#manage-container table td{
    border-top: 1px solid rgba(255, 255, 255, 0.938);
    padding: 15px;
}

#table-container .units {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#table-container .units .alert{
    margin: 5px;
}

/* MEDIA QUERIES */

@media (max-width: 1100px) {

    *{
        box-sizing: border-box;
    }

    html{
        scrollbar-width: none;
    }

    #container{
        width: 100%;
        align-items: center;
        justify-items: center;
    }

    #header{
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.589);
    }

    #logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #logo a{
        font-size: 20px;
    }

    #header>#menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #menu ul{
        display: flex;
        flex-direction: column;
    }

    #main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-bottom: 50px;
    }

    #aside-block > a {
        display: none;
        transition: all ease .2s;
        background-color: #0000003a;
    }

    #aside-menu-button {
        appearance: none;
        background-color: #6fa2cc;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        display: block;
        height: 45px;
        outline: none;
        width: 45px;
        margin: 20px auto;
    }
    
    #aside-menu-button:before {
        content: '\2630';
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 8px 8px;
    }

    #aside-menu-button:checked:before {
        content: '\2715';
        display: flex;
        flex-direction: column;
        margin: 8px 8px;
    }

    #aside-block input[type="checkbox"]:checked ~ a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #product-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: 20px auto;
    }

    .product p{
        display: -webkit-box;
        -webkit-box-align: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;
    }

    #manage-container{
        width: 90%;
    }

    .m-categories form>input[type="submit"]{
        width: 50%;
    }

    #table-container{
        text-align: end;
        overflow: hidden;
        overflow-x: scroll;
        width: 100%;
    }

    #register-container{
        width: 80%;
    }

    .m-products table tr td:last-child{
        display: flex;
        gap: 10px;
    }

    
}